
<configuration>
	<connectionStrings>
		<add name="connStr" connectionString="DESKTOP-OU69G6L\\SQLEXPRESS;Initial Catalog=FitnessDB;Integrated Security=True;\r\n\t\t\t Encrypt=False" />
	</connectionStrings>
	<appSettings>
		<add key="SettingName" value="SettingValue" />
	</appSettings>
</configuration>
